<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CAMERA" />
    <!-- 适配安卓13获取通知权限-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 适配安卓13获取读取图片权限-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- 存储卡读写 用于安卓13以下 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/citrus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/citrus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:name=".XuiApplication"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.shiju"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"/>
        </provider>
    </application>

</manifest>